button {
    outline: none!important;
}
.navbar-inverse .dropdown-menu li a{
    padding: 15px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #525252;
    outline: 0;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.lop-tin-chi-index button.btn.btn-primary.btn-outline.dropdown-toggle {
    min-width: 160px;
}

.lop-tin-chi-index .table-responsive ul.dropdown-menu {
    position: relative;
    text-align: center;
}

.sidebar-menu li .treeview-menu a {
    padding: 10px 20px;
}

.login-page .row {
    margin-top: 5%;
}