html,
body {
    height: 100%;
}
button {
    outline: none!important;
}
.navbar-inverse .dropdown-menu li a{
    padding: 15px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #525252;
    outline: 0;
}
.lop-tin-chi-index button.btn.btn-primary.btn-outline.dropdown-toggle {
    min-width: 160px;
}

.lop-tin-chi-index .table-responsive ul.dropdown-menu {
    position: relative;
    text-align: center;
}

.login-page .row {
    margin-top: 5%;
}

.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}


.dropdown button.btn.btn-primary.dropdown-toggle {
    width: auto !important;
}

.dropdown-menu {
    min-width: auto !important;
}

.lop-tin-chi-index input {
    cursor: pointer;
}

a.btn.btn-primary {
    margin-top: 10px;
}
.kv-grid-table .select2 .select2-selection {
    border: 1px solid rgba(33, 33, 33, 0.12);
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    color: #324148;
    /*height: 42px;*/
    font-size: 14px;
    padding: 10px 25px 10px 5px;
}

.kv-grid-table .select2-selection__arrow {
    height: 41px !important;
    border-left: 1px solid #e4e4e4 !important;
}

.select2-container--krajee .select2-selection--single .select2-selection__placeholder {
    font-size: 12px;
    margin: 0;
}

.datepicker.datepicker-inline {
    width: 100%;
}

table.table-condensed {
    width: inherit;
}

.datepicker-days {
    width: inherit;
}

body.skin-blue.sidebar-mini {
    font-family: cursive!important;
}