button {
    outline: none!important;
}
.navbar-inverse .dropdown-menu li a{
    padding: 15px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #525252;
    outline: 0;
}
.lop-tin-chi-index button.btn.btn-primary.btn-outline.dropdown-toggle {
    min-width: 160px;
}

.lop-tin-chi-index .table-responsive ul.dropdown-menu {
    position: relative;
    text-align: center;
}

.login-page .row {
    margin-top: 5%;
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}