.kv-grid-table .select2 .select2-selection {
    border: 1px solid rgba(33, 33, 33, 0.12);
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    color: #324148;
    font-size: 14px;
    padding: 10px 25px 10px 5px;
}

.kv-grid-table .select2-selection__arrow {
    height: 34px !important;
    border-left: 1px solid #e4e4e4 !important;
}

.select2-container--krajee .select2-selection--single .select2-selection__placeholder {
    font-size: 12px;
    margin: 0;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow {
    top: 0px!important;
}

input[type=radio] {
    display: none;
}

img:hover {
    opacity: 0.4;
    cursor: pointer;
}

input[type=radio]:checked + img {
    border: 3px solid #fb7400;
}
div#payment-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: none;
    overflow: hidden;
    left: 0;
    z-index: 9999;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.75);
    background: -webkit-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0.75) 100%);
    background: -moz-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0.75) 100%);
    background: -ms-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0.75) 100%);
    background: radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0.75) 100%);
    color: #fff;
}

#payment-background p {
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 50px);
    max-width: 350px;
    text-align: center;
    font-family: "HelveticaNeue", "HelveticaNeue-Light", "Helvetica Neue Light", helvetica, arial, sans-serif;
}

#payment-background p a {
    display: block;
    text-decoration: underline;
    color: #ffffff;
    font-size: 16px;
    margin-top: 10px;
}